.styled-title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 65px;
  font-style: normal;
  font-weight: 900px;
  height: 100px;
  justify-content: center;
  line-height: normal;
  width: 100%;
}
