body {
  align-items: center;
  background: #272a37;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app > main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99vw;
}

header {
  display: flex;
  justify-content: center;
}

button {
  background: #3590f5;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  display: inline-flexbox;
  flex-shrink: 0;
  font-size: 18px;
  height: 55px;
  margin: 1.5rem;
  padding: 0.5rem;
  width: 211px;
}

button:hover {
  background-color: white;
  color: #000000da;
}

button:focus {
  background-color: rgb(34, 34, 34);
  color: white;
}

.buttons-container {
  align-items: start;
  display: flex;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

.app-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-container {
  align-items: center;
  background: #3590f5;
  border-radius: 100px;
  color: white;
  display: inline-flexbox;
  flex-shrink: 0;
  font-size: 18px;
  height: 55px;
  justify-content: center;
  width: 211px;
}

.password-validation {
  display: block;
  justify-content: space-around;
}

.styled-form {
  display: grid;
  justify-content: center;
}

.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}

fieldset {
  background-color: rgba(128, 128, 128, 0.219);
  width: 507px;
}

hr {
  background: rgba(128, 128, 128, 0.219);
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  border: 0;
  height: 1px;
  margin: 50px;
  width: 40vw;
}

.checkbox {
  color: white;
}
